img.bg {/* regole per riempire la pagina con lo sfondo prescelto */
min-height: 100%;
min-width: 1024px;
/* regole per ridimensionare l'immagine proporzionalmente */
width: 100%;
height: auto;		
/* posizonamento dello sfondo */
position: fixed;
top: 0;
left: 0;
}

@media screen and (max-width: 1024px){
img.bg {
left: 50%;
margin-left: -512px; 
}
}

div#contenuto {
position: relative; 
width: 300px;
margin: 0 auto;
padding: 20px;
font-family: helvetica, arial, sans-serif;
font-size: 10pt;
line-height: 16pt;
-moz-box-shadow: #000 4px 4px 10px;
-webkit-box-shadow: #000 4px 4px 10px;
background-image: url(sfondoinv.jpg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}

body {
/* formattazione del body, non ha effetti sullo sfondo */
margin: 300px;
padding: 0px 0 0 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}


