.table-ext {width:90%;}

.table-ext thead th {
height:50px;
line-height:50px;
border-bottom:1px solid #ddd;
text-align: left;
border:1px solid #ddd;
padding: 0 0 0 5px;
background: #f04;
color:#fff;
}

.table-ext tbody td {
border-bottom:1px solid #ddd;
}

.divinterno{
height:270px; 
overflow:auto;
width:100%;
}

.table-intinv {
width:100%; 
}

.table-intinv td {
height:40px;
line-height:40px;
}

.box {
background: brown;
border: 5px solid black;
heigth:260px;
width:205px;  
margin:1%;
padding:1.5%;
}